div {
  padding: 5px;
}
@font-face {
  src: url('fonts/Canela-Thin.ttf');
  font-family: 'canela';
}

body {
  background-color: #F4A4BD;
}

h1 {
  font-family: canela;
  color:#FFFFFF;
  font-size: 100px;
}

h2 {
  font-family: canela;
  color:#FFFFFF;
}

h3 {
  font-family: canela;
  color:#FFFFFF;
  font-size: 60px;
}

p {
  font-family: canela;
}

a {
  color: #FFFFFF;
}

a:link {
  text-decoration: underline;
}
