div {
  padding: 5px;
}
@font-face {
  src: url('fonts/Canela-Thin.ttf');
  font-family: 'canela';
}

body {
  background-color: #F4A4BD;
}

h1 {
  font-family: canela;
}

h2 {
  font-family: canela;
}

h3 {
  font-family: canela;
}

p {
  font-family: canela;
}

a {
  color: #000000;
}

a:link {
  text-decoration: none;
}
