
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-y: hidden;
    width: 100%;
}
header {
	height: 100vh;
	width: 200vw;
	background: radial-gradient(circle, #C89CD6, #FCA095, #99ADD4, #90D9AF, #FFFC91);
	background-size: 200vh 200vw;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.slider {
    scroll-snap-type: x mandatory;  
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
section {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    text-align: left;
    position: relative;
}