body {
    margin: 0;
    padding: 0;
}

.horizontal-scroll-wrapper {
    /*REMEMBER WIDTH AND HEIGHT ARE SWITCHED*/
    /* The height of each div*/
    width: 1080px;
    /* The number of divs * the section width*/
    height: 100vw;
    /* set the wrapper transformation origin */
    transform-origin: right top;
    /* set the width size into the translateY function*/
    transform: rotate(-90deg) translateY(-1080px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    /* DELETE the lines below if needed */
    /* border-style: dotted; */
}

.horizontal-scroll-wrapper>div {
    /* The height of each div*/
    width: 1920px;
    /* The width of each div*/
    height: 1920px;
    /* set the div transformation origin */
    transform-origin: left top;
    /* set the wrapper's width size into the translateY function*/
    transform: rotate(90deg) translateY(-1080px);
    /* DELETE the lines below if needed */
    /* border-style: solid; */
}

.energy {
  background-color: yellow;
}
.abundance {
  background-color: blue;
}
.abundance {
  background-color: red;
}
