@font-face {
  src: url('fonts/SelfModern.otf');
  font-family: 'self';
}

.overlay a {
  padding: 8px;
  text-align: center;
  font-family: self;
  text-decoration: none;
  font-size: 80pt;
  color: #818181;
  display: block;
  transition: 0.5s;
  height: 100%;
}

.hover a {
  background-color: #111;
}

// explosion container
.explosion {
  position: absolute; // required if positioned on click else 'relative'
  width: 600px;
  height: 600px;
  pointer-events: none; // make it clickable trhough
  // particle styling
  .particle {
    position: absolute; // required
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards; // required
  }
}

// animation for particle fly away from the cursor
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

/// DEMO styling
html, body {
  height: 100%;
  background: #000;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #CCC;
  font-family: "Helvetica", "Arial", sans-serif;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  cursor: default;
}

#red {
  color: #EF3E4B;
}

#pink {
  color: #F275C0
}

#orange {
  color: #F48500
}

#yellow {
  color: #FCE01A
}

#yellow {
  color: #FCE01A
}

#green {
    color: #aef44a
}

#seafoam {
    color: #6bc394
}

#blue {
    color: #6ebded
}

#cornflower {
    color: #6495ed
}

#violet {
    color: #c381f2
}

#eggplant {
    color: #7b47a8
    font-family: self;
}
