@font-face {
  src: url('fonts/Canela-Thin.ttf');
  font-family: 'self';
}

.overlay a {
  padding: 10px;
  text-align: center;
  font-family: self;
  text-decoration: none;
  font-size: 50pt;
  color: #818181;
  display: block;
  transition: 0.8s;
  height: 100%;
}

.sidebar .header:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

#red {
  color: #EF3E4B;
}

#pink {
  color: #F275C0
}

#orange {
  color: #F48500
}

#yellow {
  color: #FCE01A
}

#yellow {
  color: #FCE01A
}

#green {
    color: #aef44a
}

#seafoam {
    color: #6bc394
}

#blue {
    color: #6ebded
}

#cornflower {
    color: #6495ed
}

#violet {
    color: #c381f2
}

#eggplant {
    color: #7b47a8
    font-family: self;
}
