.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  animation-name: radiate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: backwards;
  path {
  fill: #fff;
  }
}


.circle:nth-child(1) {
  animation-delay: -1s;
}
.circle:nth-child(2) {
  animation-delay: -2s;
}
.circle:nth-child(3) {
  animation-delay: -3s;
}
.circle:nth-child(4) {
  animation-delay: -4s;
}
.circle:nth-child(5) {
  animation-delay: -5s;
}

@keyframes radiate {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  1% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.01;
    transform: scale(2);
  }
}
