body{
	width: 100%;
	margin: 0;
	font-family: Sofia Pro, Sofia Pro, sans-serif;
	}

.header {
	height: 100vh;
	width: 100vw;
	background: radial-gradient(circle, #C89CD6, #FCA095, #99ADD4, #90D9AF, #FFFC91);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

h1 {
	font-family: IvyMode Thin;
	font-weight: 100;
	font-size: 100%;
	padding-left: 55px;
	padding-top: 55px;
	color: white;
}
h2{
	padding-left: 55px;
	padding-top: 55px;
	font-family: Sofia Pro Light;
	font-size: 100px;
	color: white;
}
h3{
	font-family: IvyMode Thin;
	color:#F55353;
}
#ABUNDANCE{
	color:#37E882;
}

#FREEDOM{
	color:#CA50E1;
}

p {
	padding-top: 55px;
	font-size: 25px;
	font-family: Sofia Pro Light;
	color: #F55353;
}

.content {
	background-color: #FAF9F2;
}

html {
	  scroll-snap-type: y mandatory;
	}

.child {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	}
