body{
	width: 100%;
	margin: 0;
	font-family: Sofia Pro, Sofia Pro, sans-serif;
	}
header{
	position: fixed;
	width: 100%;
	}
header h1{
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: .1em;
  margin-bottom: 0;
	}
  h2{
    font-size: 1em;
    text-align: center;
  }
section{
	width: 100%;
	height: 350px;
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	}

h1 {
	padding-left: 55px;
	padding-top: 55px;
}
p {
	padding-left: 55px;
}

.container {
	  scroll-snap-type: y mandatory;
		overflow-y: scroll;
	}

.child {
	  scroll-snap-align: start;

	}

#a1{background-image: url("images/Joyful_Energy00.png"); height: 700px;}
#a2{background-image: url("images/Joyful_Energy01.png");}
#a3{background-image: url("images/Joyful_Energy02.png");}
#a4{background-image: url("images/Joyful_Energy03.png");}
#a5{background-image: url("images/Joyful_Energy04.png");}
#a6{background-image: url("images/Joyful_Energy05.png");}
#a7{background-image: url("images/Joyful_Energy06.png");}
#a8{background-image: url("images/Joyful_Energy07.png");}
#a9{background-image: url("images/Joyful_Energy08.png");}
#a10{background-image: url("images/Joyful_Energy09.png");}
