@font-face {
  src: url('fonts/Canela-Thin.ttf');
  font-family: 'canela';
}

h1 {
  font-family: canela;
  font-size: 200px;
  color: #EF3E4B;
}

rect {
  height: 100px;
}

body {
  background-color: #EF3E4B;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box1 {
  position: center;
  max-width: 100%;
  height: auto;
}
